body {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(51,50,100,255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 400px;
    background-color: #201f52;
    border-radius: 10px;
    z-index:0;
    box-shadow: 2px 3px 24px 12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 13px rgba(231, 231, 231, 0.1);
-moz-box-shadow: 2px 3px 24px 12px rgba(0,0,0,0.75);
}

.secondary {
    height: 40%;
    width: 20%;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;

}

.fa-regular {
    position: relative;
    padding-top: 10px;
    padding-left:5px;
    cursor: pointer;
    
}

.value {
    font-size: large;
    width: 20px;
}


h2 {
    color: white;
    font-size: 23px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#passwordGen {
    background-color: #151430;
    color: wheat;
}

.icondiv {
    display: flex;
    color: white;
    height: 40px;
    width: 220px;
    background-color: rgb(75, 75, 225);
    gap: 10px;
    z-index: 2;
    margin-bottom: 10px;

}
.passdiv {
    display: flex;
    color: white;
    gap: 10px;
    justify-content: space-between;
}
.uppercase {
    display: flex;
    color: white;
    gap: 20px;
    justify-content: space-between;
    
}

.lowercase {
    display: flex;
    color: white;
    gap: 20px;
}

.numbers {
    display: flex;
    color: white;
    gap: 20px;
}

.symbols {
    display: flex;
    color: white;
    gap: 20px;
}

input {
    
    accent-color: green;
    
    
}
#ABC {
    margin-top: 15px;
    width:30px;
    height: 20px;
}



#generate {
    margin-top: 50px;
    background-color: rgba(51,50,143,255);
    color: white;
    padding: 10px 28px;
}

@media (max-width: 600px) {
    .main {
        width: 300px;
    }

    .text {
        font-size: 13px !important;
    }
    
    .value {
        width: 16px;
    }
}