body {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(51,50,143,255);
    display: flex;
    align-items: center;
    justify-content: center;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 25%;
    background-color: #201f52;
    border-radius: 10px;
}

h2 {
    color: white;
}

#passwordGen {
    background-color: #151430;
    color: wheat;
}

.icondiv {
    display: flex;
    color: white;
}
.passdiv {
    display: flex;
    color: white;
}
.uppercase {
    display: flex;
    color: white;
}

.lowercase {
    display: flex;
    color: white;
}

.numbers {
    display: flex;
    color: white;
}

.symbols {
    display: flex;
    color: white;
}

input {
    
    accent-color: green;
    
    
}


#generate {
    background-color: rgba(51,50,143,255);
    color: white;
    padding: 3px 28px;
}